* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-color: grey;
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

.user-icon {
    background-image: url("img/avatars.jpg");
    background-size: 250px 168px;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.user1 { background-position: -24px -18px; }
.user2 { background-position: -98px -18px; }
.user3 { background-position: -179px -18px; }
.user4 { background-position: -181px -95px; }

.icon {
    height: 1.2rem;
}

.container {
    display: grid;
    grid-template-columns: minmax(220px, 1fr) 5fr;
    grid-template-areas:
    "sidebar header"
    "sidebar content";
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(5, 130, 161);
    color: white;
}

.sidebar .icon {
    filter: invert(100%);
    padding-right: 1rem;
}

.sidebar h2 {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.sidebar h2 .icon {
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin-right: 0.5rem;
}

.sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.sidebar ul {
    list-style: none;
    padding: 1rem;
    padding-left: 1.5rem;
    display: grid;
    gap: 1rem;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: white;
}

.user-ref {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search {
    display: flex;
    flex-direction: row;
}

.user-title {
    display: grid;
    grid-area: 2/1/2/2;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: 1rem 2rem;
    grid-template-areas: 
        "avatar message"
        "avatar name";
    padding: 1rem;
}

.user-title div {
    grid-area: avatar;
}

.user-title p {
    grid-area: message;
    margin: 0;
}

.user-title h2 {
    grid-area: name;
    margin: 0;
}

.project-buttons ul {
    list-style-type: none;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.project-buttons button {
    color: white;
    background-color: rgb(5, 130, 161);
    padding: 0.5rem;
    border-radius: 1rem;
    width: 5rem;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "projects announcements"
        "projects trending";
    background-color: rgb(216, 215, 215);
}

.your-projects {
    grid-area: projects;
    padding: 1rem;
}

.project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(minmax(500px, 1fr));
    gap: 1rem;
}

.project-cards .card {
    background-color: white;
    border-left: 5px solid orange;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 2rem 1fr;
    padding: 1rem;
}

.project-cards p{
    margin: 0;
    color: grey;
}

.project-cards h4{
    margin: 0;
}

.project-card-icons {
    display: flex;
    grid-template-columns: repeat(3, 1.2rem);
    gap: 1rem;
    flex-direction: row-reverse;
}

.announcements {
    grid-area: announcements;
}

.announcement-cards {
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
}

.announcement-cards .card > * {
    margin: 0;
}

.announcements .card {
    margin: 1rem 0;
    overflow: hidden;
}

.announcements .card p{
    color: grey;
    font-size: 0.8rem;
}

.announcements .card h4 {
    font-size: 0.9rem;
}

.trending {
    grid-area: trending;
}

.trending-cards .card {
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: 1.5rem 1.5rem;
    grid-template-areas:
        "avatar name"
        "avatar title";
}

.user-icon {
    grid-area: avatar;
}

.user-name {
    grid-area: name;
    font-size: 0.8rem;
}

.user-title {
    grid-area: title;
    font-size: 0.7rem;
}